#google_font {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 2rem;
}

#create-acct-btn {
    color: white;
}

#map {
    height: 500px;
}

#spinner-container {
    height: 400px;
}

#spinner{
    width: 5rem;
    height: 5rem;
}

#dad-img{
    height: 55vh;
}

#error-msg {
    color: red;
}