<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/app.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
    <title>FUN DAD</title>
</head>

<body>
    <!-- Page Load Spinner Modal -->
    <div class="modal fade" id="spinnerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="spinnerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div id="spinner-container" class="modal-body d-flex justify-content-center align-items-center">
                    <div id="spinner" class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-md">
            {% if g.user %}
            <a id="google_font" class="navbar-brand" href="{{ url_for('display_destinations') }}">FUN DAD</a>
            {% else %}
            <a id="google_font" class="navbar-brand" href="/">FUN DAD</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if g.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('handle_checkin') }}">Check-In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('display_map_view') }}">Map View</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Destinations
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/destinations"> - See List - </a></li>
                            {% if user %}
                            {% for destination in user.destinations %}
                            <li><a class="dropdown-item spinner" href="{{ url_for('show_destination_details', id=destination.id) }}">{{ destination.name }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                </ul>
                <!-- Login/Logout/Create Account -->
                <div>
                    <ul class="navbar-nav m-auto">
                        {% if g.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout_user') }}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item my-1 mx-.5">
                            <a class="nav-link btn btn-primary mx-1" id="create-acct-btn" href="{{ url_for('create_account') }}">Create Account</a>
                        </li>
                        <li class="nav-item my-1">
                            <a class="nav-link btn btn-outline-secondary mx-1" href="{{ url_for('login_user') }}">Login</a>
                        </li>
                        {% endif %}               
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- flash messages -->
    <div class="container m-3">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}
        </div>
        {% endfor %}
        <!-- main content -->
        {% block content %}
        {% endblock %}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="/static/js/app.js"></script>
    {% block script %}
    {% endblock %}
</body>
</html>